/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * PersonaNonGrata implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * personanongrata.css
 *
 * PersonaNonGrata stylesheet
 *
 */

@import url(modules/bga-cards.css);

.hand-stock {
  min-height: 330px;
}

.slot:empty {
  display: none;
}

.card-stock:empty {
  min-height: unset;
}

.prs_darkTheme #overall-content {
  background-image: url("img/dark.jpg");
  background-position: top center;
}

.prs_gameArea {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  width: 100%;
}

.prs_gameArea *:not(.prs_card) {
  box-sizing: border-box;
}

.prs_selected {
  border: 3px solid red;
  transform: none !important;
  z-index: 99 !important;
}

.prs_card,
.prs_cardFace {
  border-radius: 12px;
}

.prs_playerZones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
  width: 100%;
}

.prs_playerZones .prs_playerZone {
  order: 2;
}

.prs_zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  outline: 2px solid #000;
  gap: 16px;
  min-width: 480px;
}

.prs_myZone {
  max-width: 1024px;
  width: 100%;
}

.prs_publicZone {
  outline-color: #fff;
}

.prs_zoneTitle {
  display: inline-block;
  align-self: flex-start;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  padding: 4px;
}

.prs_publicZone .prs_zoneTitle {
  background-color: #fff;
  color: #000;
}

.prs_corporationDecks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.prs_handContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
