/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * PersonaNonGrata implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * personanongrata.css
 *
 * PersonaNonGrata stylesheet
 *
 */

.prs_customTheme #overall-content {
  background-image: url("img/background.png");
  background-size: cover;
}

.prs_gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.prs_gameArea > * {
  box-sizing: border-box;
}

.prs_playerZones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.prs_zone {
  border: 2px solid #000;
  border-radius: 8px;
  min-width: 320px;
}

.prs_zoneTitle {
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 4px;
}

.prs_myZone {
  margin-top: auto;
}
