/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * PersonaNonGrata implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * personanongrata.css
 *
 * PersonaNonGrata stylesheet
 *
 */

/* bga-cards module */

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}
.card[data-side="back"] .card-sides {
  transform: rotateY(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}
.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}
.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.card-stock.line-stock[data-center="true"] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.card-stock.slot-stock[data-center="true"] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}
.card-stock.scrollable-stock[data-scrollbar-visible="false"] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-stock.scrollable-stock[data-scrollbar-visible="false"]::-webkit-scrollbar {
  display: none;
}
.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}
.card-stock.scrollable-stock .scrollable-stock-inner[data-center="true"] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}
.card-stock.hand-stock .card {
  transform: translateY(
      calc(var(--card-shift) * var(--hand-stock-middle-index-abs))
    )
    rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}
.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}
.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}
.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}
.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}
.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift))
      calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111,
    calc(var(--thickness) * var(--xShadowShift))
      calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}
.card-stock.deck[data-empty="true"] > .card {
  visibility: hidden;
}
.card-stock.deck[data-empty="true"] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(
    var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2
  );
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}
.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}
.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}
.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
    background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}
.card-stock.all-visible-deck.vertical:hover,
.card-stock.all-visible-deck.vertical:active,
.card-stock.all-visible-deck.vertical.opened {
  height: calc(
    (var(--height) + var(--vertical-shift)) * var(--tile-count) -
      var(--vertical-shift)
  );
  z-index: 1;
}
.card-stock.all-visible-deck.vertical:hover > .card,
.card-stock.all-visible-deck.vertical:active > .card,
.card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}
.card-stock.all-visible-deck.horizontal:hover,
.card-stock.all-visible-deck.horizontal:active,
.card-stock.all-visible-deck.horizontal.opened {
  width: calc(
    (var(--width) + var(--horizontal-shift)) * var(--tile-count) -
      var(--horizontal-shift)
  );
  z-index: 1;
}
.card-stock.all-visible-deck.horizontal:hover > .card,
.card-stock.all-visible-deck.horizontal:active > .card,
.card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}
.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.card-stock.all-visible-deck[data-empty="true"] > .card {
  visibility: hidden;
}
.card-stock.all-visible-deck[data-empty="true"]
  .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

/* END bga-cards module */

.card-stock:empty {
  display: none;
}

.all-visible-deck {
  position: relative !important;
  pointer-events: none;
}

.all-visible-deck > .card {
  position: absolute !important;
}

.line-stock:not(.prs_hacker) > div.card:not(:first-child) {
  margin-left: -158px;
}

.hand-stock {
  min-height: 330px;
}

.slot > div.card:not(:first-child) {
  margin-top: -210px;
}

.slot .prs_informationCard {
  z-index: 0 !important;
}

.slot:empty {
  display: none;
}

.prs_darkTheme #overall-content {
  background-image: url("img/dark.jpg");
  background-position: top center;
}

.prs_gameArea {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.prs_gameArea *:not(.prs_card) {
  box-sizing: border-box;
}

.prs_gameArea .whiteblock {
  margin: 0;
}

.prs_selected {
  border: 3px solid red;
  transform: none !important;
  z-index: 9 !important;
}

.prs_card,
.prs_cardFace {
  border-radius: 12px;
}

.prs_corporationCounters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  max-width: 240px;
}

.prs_corporationCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.prs_corporationIcon {
  background-image: url("img/corporationIcons.png");
  aspect-ratio: 1;
  width: 30px;
}

/* .prs_playerAreas {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;
  width: 100%;
} */

.prs_playerAreas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
  align-items: stretch;
  justify-content: center;
  column-gap: 16px;
  row-gap: 8px;
  width: 100%;
}

.prs_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  outline: 2px solid #000;
  padding: 16px;
  width: 100%;
}

.prs_area:not(.prs_myArea) {
  order: 2;
}

.prs_publicArea {
  outline-color: #fff;
}

.prs_areaHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.prs_areaTitle {
  display: inline-block;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  padding: 2px 8px;
}

.prs_publicArea .prs_areaTitle {
  background-color: #fff;
  color: #000;
}

.prs_playerZones {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.prs_zone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 8px;
  padding: 8px;
  min-height: 330px;
  min-width: 250px;

  flex-grow: 1;
}

.prs_stocksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;

  flex-grow: 1;
}

.prs_zoneTitle {
  align-self: flex-start;
  font-size: 1.25rem;
  margin: 0;
  margin-right: auto;
  opacity: 0.7;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  -webkit-text-stroke: #000 0.1ch;
}

.prs_publicCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.prs_corporationDecks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.prs_hacker > div:not(:first-child) {
  margin-top: -276px !important;
}

.prs_stored:not(.prs_myStored) [data-slot-id="-1"] div.card:not(:first-child) {
  margin-top: -272px;
}

.prs_handContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  flex-grow: 1;
}

.prs_directionTagContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.prs_directionIcon {
  background-image: url("img/directionIcons.png");
  aspect-ratio: 1;
  width: 60px;
}

.prs_directionIcon[data-direction="counterclockwise"] {
  background-position: 100% 0;
}
